@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" align="center">
        <div class="carousel-item active">
            <img style="height:380px;width:50%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRiZ6Zlm7FB2zUsoz2N5yJZKG2tfX8nl1tSqA&usqp=CAU" alt="Vapor Football Boots">
        </div>
        <div class="carousel-item">
            <img style="height:380px;width:50%" src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_3603000/altimages/ff_3603943-d8943b90ea17b895af7falt1_full.jpg&w=900" alt="Man City Jersey DeBruyne">
        </div>
        <div class="carousel-item">
            <img style="height:380px;width:50%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPYhu3Hzu5BUjLbx5eTY3NkR5CQWEq26yl68J-Cu8YA10sfIVdJ5mHsqMEKgc&usqp=CAc" alt="Kawhi Clippers Jersey">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
