@model IEnumerable<ApparelApp.Entities.Entities.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Available stores</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StoreId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
