@*

*@

@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{

    ViewBag.Title = "Index";


}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*This script has helper methods used to display unit prices once the user selects a particular product, and
  calculates the total amount
*@
<script src="~/js/shopfunctions.js"></script>


<style>
    fieldset {
        border: 1px solid;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        padding-left: 10px
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid;
        border-radius: 4px;
        padding: 10px;
    }
</style>



<fieldset>
    <legend>
        Place Order
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" form-group">

                    Customer:
                    @Html.DropDownList("Customer", new SelectList(Model.Item1, "Value", "Text"), new { @class = "form-control" })

                </div>
            </div>



        </div>

    </div>
</fieldset>

<fieldset>
    <legend>Products</legend>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class=" form-group">

                    Store:
                    @Html.DropDownList("Store", new SelectList(Model.Item2, "Value", "Text"), new { @class = "form-control" })

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">

                    Product item:
                    @Html.DropDownList("Product", new SelectList(Model.Item3, "Value", "Text"), new { @class = "form-control" })


                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">

                    Price:
                    <input type="text" readonly="readonly" id="txtPrice" value="0.00" name="Price" class="form-control" />


                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    Quantity:
                    <input type="text" id="Quantity" value="0" name="Quantity" class="form-control" />


                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    Total:
                    <input type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />




                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <input type="button" style="margin-top:10px" value="Add to Cart" name="AddToCart" id="btnAddToCart" class="btn btn-success" />

                </div>

            </div>

        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Selected items</legend>
    <table style="width:100%" id="tblProductItems">
        <thead>
            <tr>
                <th hidden>
                    Product ID

                </th>
                <th>
                    Product name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Number of items
                </th>
                <th>
                    Total amount
                </th>
                <th>
                    Action
                </th>

            </tr>

        </thead>

    </table>


</fieldset>

<div>
    <input type="button" value="Place Order" name="Place Order" id="btnPlaceOrder" class="btn btn-primary"/>

</div>


